@media screen and (max-width: 1200px){
	#post{
		column-width: 240px;
	}
	
	.btn{
		font-size: 20px;
	}
}

@media screen and (max-width: 980px){
	.contains{
		width: 95%;
		padding-bottom: 50px;
	}
	.btn{
		font-size: 40px;
	}
	p{
		font-size: 40px;
	}
	h3{
		font-size: 55px;
	}
	h4{
		font-size: 50px;
	}
	h5{
		font-size: 35px;
	}
	#post{
		column-width: 500px;
	}
	.post-contains {
	margin-top: 30px;
	}
	
	#filterbutton2{
		display: block;
		text-align: center;
		margin-bottom: 20px;
	}
	
	#filter{
		width: 100%;
		text-align: center;
	}
	
	#filterbutton1{
		display: none;
	}
	#filterbutton{
		width: 60%;
		height: 60px;
	}
	#loadmorebutton{
		width: 80%;
		height: 80px;
	}
	
	.manualstamp{
		width: 70px;
		height: 70px;
		padding-top:2%;
	}
	
	.manualstampfont{
	font-size: 3em;
	}
	
	.tweetstamp{
		width: 70px;
		height: 70px;
		margin-top: -10px;
		padding-top: 1.2%;
	}
	
	.instamp{
		width: 70px;
		height: 70px;
		margin-top: -25px;
		padding-top: 1.2%;
	}

}
